.headerMiddle {
    order: 1;

    @media (min-width: 576px) {
        margin-inline-start: auto;
        order: 0;
    }

    /* mobile format  */
    @media (max-width: 575px) {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: color-mix(in srgb, var(--color-primary), white 90%);
        box-shadow: -4px 0 20px 0 rgba(0, 0, 0, 0.2);
        z-index: 10;
    }

    .navBox {
        @media (min-width: 992px) {
            margin-inline-end: 24px;
        }
        

        &:not(.show) {
            display: block;
        }
    }

    .linkItem {
        position: relative;
        color: var(--color-primary) !important;
        font-weight: 500;

        &:not(:last-child) {
            margin-inline-end: 16px;
        }


        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            inset-inline-end: 0;
            width: 0;
            height: 2px;
            background-color: var(--color-primary);
            transition: .3s;
        }

        &:is(:hover, .active) {
            @media (min-width: 768px) {
                &::before {
                    width: 100%;
                    inset-inline-start: 0;
                }
            }
        }
        /* mobile format  */
        @media (max-width: 575px) {
            display: flex;
            flex-direction: column;
            gap: 4px;
            padding: 0;
            font-size: 14px;
            .linkIcon {
                font-size: 18px;
            }
        }
        .linkIcon {
            @media (min-width: 575px) {
                display: none;
            }
        }

    }

}