:root {

    /* colors  */
    --color-primary: #ffb700;
    --color-text: "#2b3035";
    --color-primary-tint-30: color-mix(in srgb, var(--color-primary), white 30%);
    --color-primary-tint-90: color-mix(in srgb, var(--color-primary), white 90%);
    --color-primary-shade-10: color-mix(in srgb, var(--color-primary), black 10%);
    --nav-height: "";
    /* transition  */
    --transition-primary: .3s;
}

/* reset elements  */


* {
    box-sizing: border-box;
    font-family: "Lato Regular";
}

a {
    text-decoration: none;
    color: inherit;
}

span {
    display: flex;
}

button {
    border: none;
    font-family: "TT Phobos Trial";
    font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: "TT Phobos Trial";
}


.logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .brandIcon {
        svg {
            @media (max-width: 767px) {
                width: 70px;
                height: 70px;
            }
        }

    }

    .brandName {
        font-size: 32px;
        font-weight: bold;
        color: var(--color-primary);
        margin-block-start: -10px;
        @media (max-width: 767px) {
            font-size: 20px;
        }
    }

    .brandText {
        font-size: 14px;
        margin-block-start: -4px;
    }
}