header {
    position: fixed;
    top: 0;
    inset-inline-start: 0;
    width: 100%;
    z-index: 10;
    padding-block: 8px;

    .headerRow {
        display: flex;
        align-items: center;
        gap: 16px;
    }
}