#index {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    /* mobile format  */
    @media (max-width: 575px) {
        margin-block-end: var(--nav-height);
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        inset-inline-start: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 700px;
        background: linear-gradient(180deg,
                color-mix(in srgb, var(--color-primary), white 90%) 3%, transparent);
        z-index: -1;
    }

    .contentWrapper {
        flex: 1;
    }
}